.post-form {
  background: var(--color-card);
  padding: 20px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.post-form .form-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}

.post-form .form-top input {
  background: transparent;
  width: 100%;
  padding: 1rem;
  color: var(--color-primary);
}

.post-categories {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 1rem;
}

.post-categories input {
  display: none;
}

.post-categories span {
  transition: 0.3s ease;
  cursor: pointer;
}

.post-categories span:hover {
  color: var(--color-primary);
}
